*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align content to the top */
    width: 100vw;
    min-height: 100vh; /* Ensure body takes at least the viewport height */
    background-color: hsl(var(--hue), 50%, 50%);
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .content {
    max-width: 800px; /* or whatever max width you prefer */
    width: 100%;
    margin: 0 auto; /* Center content */
  }

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}


.container {
    width: 800px;
    max-width: 80%;
    /* Set a max-height to make sure content is scrollable */
    max-height: 90vh; /* Adjust based on your header/footer size */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 20px; /* Adjust or remove based on your design */
  }
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.warning {
  color: red;
}

/* grid layout for score system */

.score-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}
#score-up {
  font-size: 5.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
}
.countdown-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2#countdown {
  font-size: 4rem;
}
#scorestore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2, h3 {padding: 5px;}

.record {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}
/*#question-container{
 
}*/
#question {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}